name: Build and Release Harlan Holden Coffee
run-name: Building and Releasing Harlan Holden Coffee
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write
            
jobs:
  build-and-release:
      runs-on: ubuntu-latest
      steps:
        - name: Check out repository code
          uses: actions/checkout@v4
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .  
            push: true
            tags: |
                ghcr.io/anggiprayoga28/harlan-holden:latest
                ghcr.io/anggiprayoga28/harlan-holden:${{ github.ref_name }}